@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Erode";
  src: url("/fonts/Erode-Variable.ttf") format("truetype"),
    url("/fonts/Erode-VariableItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bonda Nova";
  src: url("/fonts/BondaNovaSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Custom clip-path for the curved shape */
.clip-ellipse {
  clip-path: ellipse(70% 100% at 50% 100%);
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}

.animate-gradient-x-y {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
  animation-delay: 6s;
}

.animate-gradient-xy {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}

.animate-gradient-x-y-z {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}
